.venv/
__pycache__/
*.pyc
*.pyo
*.igblast.airr.tsv
*.airr.tsv
*.fasta
*.fa
*.fastq
*.fq
*.xlsx
*_qc_summary.tsv
*_pgen_bins.tsv
*_shm_hist.tsv
*_pgen_shm_points.tsv
*_run_log.txt
*_pgen_bins_unique.png
*_pgen_bins_weighted.png
*_shm_hist.png
*_pgen_shm_kde_unweighted.png
pgen_cache.tsv
